computers.txt
_computers.txt
SetLocalAdminsGroup.log
SetLocalAdminAccount.log
SetSrvAdminsGroup.log
telegram_mail_bot/*
!telegram_mail_bot/bot.py
!telegram_mail_bot/monitor_bot_service.py
!telegram_mail_bot/readme.md